body{
    /*Márgen*/
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/**************************************************/
/*NAVEGACIÓN*/
header{
    width: 100%;
    height: 60px;
}

/*Para acceder es por anidación, por eso ponemos etiqueta por etiqueta*/
header nav{
    /*Mueve los elementos como yo quiera pero en un bloque*/
    display: flex;
    /*flex-start pone al principio del doc los elementos*/
    /*flex-end pone al final del documento los elementos*/
    justify-content: flex-end;
}

/*para llamar una clase es con . al inicio del nombre de la clase*/
header nav .nav-right-section{
    width: 250px;
    /*none quita los puntos de la lista*/
    list-style: none;
    /*Propiedad flex - sea responsivo y flexible*/
    display: flex;
    justify-content: center;
    /*centrado verticalmente*/
    align-items: center;
    height: auto;
}

a{
    /*quita la línea de abajo*/
    text-decoration: none;
    /*cambia el cursor a un pointer*/
    cursor: pointer;
}

nav .nav-right-section a{
    margin-right: 25px;
    color: #000000DE;
}


nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /*Settea el tamaño del ícono a que sea lo más grande posible siempre y cuando esté*/
    /*Seleccionar elemento de menu en nuestro navegador*/
    background-size: contain;
}

nav .nav-right-section img{
    /*hace redonda las imágenes o redondea las esquinas, 60px es un círculo perfecto*/
    border-radius: 60px;
    /*separa la imagen del ícono*/
    margin-left: 20px;
    width: 35px;
    height: 35px;
}

/**************************************************/
/*BUSCADOR*/
main{
    /*Agrega margen arriba*/
    margin-top: 150px;
    /*Centra todo horizontalmente*/
    text-align: center;
}

main .main-logo{
    width: 530px;
    /*Da margen de 0 verticalmente, auto Centra el elemento horizontalmente en el contenedor*/
    /*Centra el elemento horizontalmente dentro de su contenedor, el 0 dice que no hay espacio entre este elemento y los que estén arriba o abajo*/
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo{
    height: 170px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    /*centra el input y el icono de search*/
    align-items: center;
}

main .main-input input{
    border: none;
    width: 400px;
    height: 40px;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0px #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon{
    background-image: url("https://seekicon.com/free-icon-download/search_20.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 14px;
    padding-left: 6%;
}

main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    padding-left: 1%;
}

main .main-input .cam-icon{
    background-image: url("https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    padding-right: 7%;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: none;
    height: 36px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    padding: 0 15px;
    border: 1px solid #f8f9fa;
    margin-right: 10px;
}

main .main-buttons button:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    /*Borde del botón*/
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

/**************************************************/
/*FOOTER*/
footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    /*Manda la propiedad hasta lo último de la página*/
    bottom: 0;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}

footer ul li a{
    color: #70757a;
    margin: 10px;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}